.deliver,
.e-mon {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  position: relative;
  width: 280px;
  height: 56px;
  border-radius: 8px;
  border: 1px solid #cfcfcf;
  background: #fff;
  color: black;
}
.e-mone {
  color: black;
}
.radio {
  display: none;
}
.e-mone {
  content: "";
  border: 1px solid #cfcfcf;
  border-radius: 50%;
  position: absolute;
  width: 10px;
  height: 10px;
  top: 20px;
  cursor: pointer;
  left: 21px;
}
.e-mone-sec {
  content: "";
  border: 1px solid #cfcfcf;
  border-radius: 50%;
  position: absolute;
  width: 10px;
  height: 10px;
  top: 20px;
  cursor: pointer;
  left: 21px;
}
.e-mone::before,
.e-mone-sec::before {
  content: "";
  border: 1px solid #cfcfcf;
  border-radius: 50%;
  position: absolute;
  width: 20px;
  height: 20px;
  top: -7px;
  cursor: pointer;
  left: -7.5px;
}
.b-prise,
.grand {
  color: black;
}
