.deliver,
.e-mon {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  position: relative;
  width: 280px;
  height: 56px;
  border-radius: 8px;
  border: 1px solid #cfcfcf;
  background: #fff;
  color: black;
}
.e-mone {
  color: black;
}
.radio {
  display: none;
}
.e-mone {
  content: "";
  border: 1px solid #cfcfcf;
  border-radius: 50%;
  position: absolute;
  width: 10px;
  height: 10px;
  top: 20px;
  cursor: pointer;
  left: 21px;
}
.e-mone-sec {
  content: "";
  border: 1px solid #cfcfcf;
  border-radius: 50%;
  position: absolute;
  width: 10px;
  height: 10px;
  top: 20px;
  cursor: pointer;
  left: 21px;
}
.e-mone::before,
.e-mone-sec::before {
  content: "";
  border: 1px solid #cfcfcf;
  border-radius: 50%;
  position: absolute;
  width: 20px;
  height: 20px;
  top: -7px;
  cursor: pointer;
  left: -7.5px;
}
.same {
  color: black;
}
.inputdiv {
  display: flex;
  flex-direction: column;
}
input {
  width: 280px;
  height: 56px;
  border-radius: 8px;
  border: 1px solid #cfcfcf;
  background: #fff;
}
::placeholder {
  padding-left: 24px;
}
label {
  color: #000;
  font-size: 12px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.214px;
}
.billing,
.shipping,
.payment {
  color: #d87d4a;
  font-size: 13px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 0.929px;
  text-transform: uppercase;
}
