.deliver,
.e-mon {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  position: relative;
  width: 280px;
  height: 56px;
  border-radius: 8px;
  border: 1px solid #cfcfcf;
  background: #fff;
  color: black;
}
.e-mone {
  color: black;
}
.radio {
  display: none;
}
.e-mone::before {
  content: "";
  border: 1px solid #cfcfcf;
  border-radius: 50%;
  position: absolute;
  width: 10px;
  height: 10px;
  top: 20px;
  cursor: pointer;
  left: 21px;
}
.deliver input:checked,
.e-mon input:checked {
  border: 2px solid orange;
}
