header {
  background-color: #000000;
  width: 100vw;
  height: 89px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 24px;
}
.menu,
.cart {
  cursor: pointer;
}
@media (min-width: 768px) {
  header {
    position: relative;
    padding: 0 40px;
  }
  .logo {
    position: absolute;
    left: 100px;
  }
}
