.done-div {
  background-color: #fff;
  width: 87.2%;
  max-width: 540px;
  padding: 32px;
}
.thanks {
  margin-top: 23px;
}
.done-text {
  color: #000;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0.857px;
  text-transform: uppercase;
  margin-top: 16px;
}
.email-recive {
  opacity: 0.5;
  font-size: 15px;
  font-weight: 500;
  line-height: 25px;
}
